<div>
	<nav class="navbar navbar-custom" role="navigation" style="padding-left:10px;padding-right:10px;">
      <ul class="nav navbar-nav cus_menu pull-left">
      	<li><a class="menu-img-custom" href="/home"><img class="img-logo" src="images/weltalent_logo_small.png" /></a></li>
      </ul>
      <ul class="nav navbar-nav cus_menu pull-right">
      	<li><a class="menu-custom" href="/listOpportunities"><%= __('opportunities') %></a></li>
        <li><a class="menu-custom" href="/contactUs?requestFrom=employer"><%= __('looking_hire') %></a></li>
      </ul>
	</nav>
</div>

